{
  "extends": [
    "eslint-config-airbnb",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all",
        "singleQuote": true
      }
    ],
    "react/button-has-type": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-curly-newline": 0,
    "react/jsx-props-no-spreading": 0
  }
}